---
import Hero from "../components/hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero />
	<h1 class="text-6xl text-center font-black">Hello World!</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar
		consequat mauris, id vulputate quam consectetur et. Donec quis eros et
		nulla posuere aliquam. Duis augue erat, cursus et elit et, mattis
		elementum eros. Maecenas dolor purus, hendrerit eget fringilla quis,
		accumsan in nibh. Nunc blandit lobortis sollicitudin. Sed fringilla
		pharetra pellentesque. Maecenas vitae ante nec nisi fermentum aliquet
		eget et tortor. Vestibulum eleifend mattis ipsum quis facilisis. Class
		aptent taciti sociosqu ad litora torquent per conubia nostra, per
		inceptos himenaeos. Morbi varius felis eget nunc porttitor, at convallis
		lacus consequat. Pellentesque id semper massa, sit amet condimentum
		tortor. Ut quis sodales diam, eu tincidunt lacus. Praesent condimentum
		volutpat venenatis. Vivamus arcu tortor, convallis et euismod maximus,
		pharetra in sem. Pellentesque laoreet enim eu neque facilisis
		vestibulum. Curabitur ultrices placerat sapien quis malesuada. Ut eget
		nisl tortor. Ut ac nisi pretium, bibendum ligula quis, malesuada quam.
		Ut accumsan pellentesque diam, eu commodo arcu dapibus non. Phasellus
		tincidunt sed elit in suscipit. Vivamus et nisi nisi. Nunc tristique
		tincidunt pretium. Maecenas id metus non magna ultrices ultrices et in
		enim. Integer rhoncus eleifend augue ac mattis. Curabitur fermentum nunc
		nec volutpat dignissim. Aenean iaculis neque eget leo semper auctor.
		Phasellus consectetur diam tincidunt risus eleifend fermentum. Nullam
		sem odio, fermentum et malesuada sit amet, finibus ac est. Ut posuere,
		mauris ac finibus accumsan, dui est gravida leo, sit amet condimentum
		dolor eros sit amet tortor. Sed a ipsum tincidunt, tincidunt quam eu,
		aliquet erat. In vel semper massa. Maecenas sagittis hendrerit lacinia.
		Nunc imperdiet ante odio, eget ultricies sapien tempus in. Cras lectus
		arcu, accumsan sit amet dolor nec, vestibulum rhoncus diam. Donec varius
		in libero a efficitur. Donec vitae purus ac enim placerat facilisis a et
		nibh. Proin eleifend bibendum purus vitae pellentesque. Nullam sed nisi
		tempor, pretium mi vel, dignissim lacus. Donec erat est, luctus ornare
		metus eget, lobortis facilisis metus. Donec vitae nisi feugiat, accumsan
		nibh eu, sodales lacus. Integer convallis blandit pretium. Sed maximus
		quis tortor vitae molestie. Donec ultricies, neque a auctor varius, quam
		mauris placerat turpis, id lacinia ante nunc et ante. Phasellus gravida
		augue eu fermentum rhoncus. Sed porttitor ipsum arcu, id pharetra metus
		feugiat id. Maecenas sit amet diam eu sapien suscipit consectetur eu a
		eros. Pellentesque in leo eget mauris iaculis posuere. Fusce vehicula
		consequat pretium. Morbi dapibus condimentum tortor eu feugiat. Mauris
		eu risus eu nisl vulputate hendrerit congue ac arcu. Vestibulum
		consequat eros at enim facilisis, sed sagittis ligula venenatis. Nulla
		porta libero in nulla rutrum accumsan. Curabitur commodo convallis
		malesuada. Nunc varius orci nec tortor accumsan laoreet. In hac
		habitasse platea dictumst. Sed non tortor eget est faucibus malesuada.
		Morbi finibus sollicitudin lectus, in bibendum velit pellentesque sit
		amet. Sed elementum ligula ex, et volutpat leo blandit eget. Curabitur
		dignissim dui tellus, at venenatis leo tempor consectetur. Donec
		ultricies, diam vitae dapibus varius, justo sem mollis sem, sit amet
		pharetra risus erat quis eros. Suspendisse potenti. Nulla aliquam sit
		amet risus eget elementum. Maecenas nisi felis, commodo eget orci
		viverra, elementum porttitor eros. Phasellus sollicitudin augue eget
		eros sollicitudin consequat. Suspendisse efficitur, diam vel congue
		maximus, nunc orci malesuada magna, vitae sagittis enim ante at arcu.
		Phasellus ut justo scelerisque, eleifend risus vel, consectetur ex.
	</p>
</Layout>
